@import url('font.css');

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    text-rendering: optimizeLegibility;
}

.none {
    display: none;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}


html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
abbr,
address,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
small,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
abbr,
address,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
small,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #303030;
    line-height: 1.56;
    letter-spacing: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Barlow Semi Condensed",sans-serif;
    font-weight: 400;
}

.logo {
    padding: 15px 0;
}

.logo .link {
    display: inline-block;
}

.main-menu.stellarnav {
    background: transparent;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.main-menu.stellarnav ul {
    text-align: left;
}

.main-menu.stellarnav ul li {
    text-align: left;
}

.main-menu.stellarnav ul li a {
    color: #303030;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    /*    text-transform: uppercase;*/
    letter-spacing: 0;
    /*    padding: 0px 14px;*/
    border-bottom: solid 2px transparent;
    padding: 16px 0px;
}

.main-menu.stellarnav ul li.active > a {
    color: #03f;
}

.main-menu.stellarnav ul li:hover > a {
    color: #03f;
    border-bottom: solid 2px #03f;
}

.main-menu.stellarnav ul li:last-child a {
    padding-right: 0;
}

.main-menu.stellarnav ul li ul {
    background: #fff;
}

.main-menu.stellarnav ul li ul li a {
    padding: 14px 20px;
}

.banner {
    height: 100vh;
}

.banner h1 {
    font-size: 3rem;
    line-height: 1.16;
    font-weight: 400;
}

.latest {
    height: 100vh;
}

.latest a:hover {
    color: #303030;
    text-decoration: underline;
}

.latest img:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.blog {
    border: solid 1px #D8D8D8;
}

.blog__text {
    padding: 0 20px 20px;
}

.blog__title a {
    font-size: 1.6rem;
    font-family: "Barlow Semi Condensed",sans-serif;
    font-weight: 400;
    color: #303030 !important;
}

.blog a {
    color: #03f;
}

.blog__image:hover {
    cursor: pointer;
    opacity: 0.7;
    outline: none;
    transition: 0.5s;
}

.blog__category {
    color: #03f !important;
    outline: none;
    margin-top: 9px;
    font-family: "Source Sans Pro",sans-serif;
}

.blog__category  > a {
    outline: none;
    text-decoration: none;
    font-size: 14px !important;
    font-weight: 500;
}

.blog__category  > a:hover {
    color: #f6921e;
    outline: none;
    text-decoration: none;
}

.blog__author, .blog__author a {
    font-size: 13px !important;
}

.magazine {
    text-align: center;
    /*    font-family: "Barlow Semi Condensed",sans-serif;*/

}

.magazine__link p {
    font-weight: 600;
    text-align: center;
    font-family: 'Barlow Semi Condensed',sans-serif !important;
}

.magazine__link img {
    border-radius: 5px;
    box-shadow: 0 6px 22px rgba(0,0,0,.4);
    transition: 0.5s;
}

/*
.magazine:hover {
transform: scale(1.05);
box-shadow: 0 6px 22px rgba(0,0,0,.4);
}
*/

.magazine:hover p {
    opacity: .35;
    transform: scale(.96);
    transition: .5s;
}

.magazine__link img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 22px rgba(0,0,0,.4);
}



/*Footer*/
.about-widget .email {
    font-size: 18px;
    color: #333333;
    margin: 15px 0 15px;
    display: block;
    font-family: 'Calibre Regular',Arial,sans-serif !important;
}

.phone {
    font-size: 22px;
    color: #333333;
    font-family: 'Calibre Regular',Arial,sans-serif !important;
}


.footer-bg {
    background-color: #f3f3f3;
    background-image: url(../img/5d816b07d26938434adbcc98_image-footer-circle.svg);
}

.footer-bg .title {
    font-size: 22px;
    padding: 12px 0 25px;
    color: #38a0f6;
    color: #333333;
    font-weight: normal;
    font-family: 'Calibre Regular',Arial,sans-serif !important;
}

.footer-list ul li a {
    display: block;
    line-height: 38px;
    font-size: 17px;
    /*	color: #76797e;*/
    color: #333333;
    font-family: 'Calibre Regular',Arial,sans-serif !important;
}

.footer-list ul li a:hover {
    color: #3152dc;
    text-decoration: none;
}


.footer-information p {
    padding: 0 0 30px;
    color: #333333;
    font-family: 'Calibre Regular',Arial,sans-serif !important;
}

.footer-information ul li {
    display: inline-block;
}

.footer-information ul li a {
    width: 40px !important;
    height: 40px !important;
    border: 1px solid #dbdbdb !important;
    border-radius: 50% !important;
    text-align: center !important;
    line-height: 40px !important;
    color: #dbdbdb !important;
    margin-right: 10px !important;
    font-family: 'Calibre Regular',Arial,sans-serif !important;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.bottom-footer {
    border-top: 1px solid #dfdcdc;
    margin-top: 90px;
    padding: 35px 0;
    font-family: 'Calibre Regular',Arial,sans-serif !important;
}

.bottom-footer p {
    /*	float: left;*/
    color: #333;
    margin-bottom: 0px;
    font-family: 'Calibre Regular',Arial,sans-serif !important;
}

.bottom-footer ul {
    /*	float: right;*/
    margin-bottom: 0px;
    padding-left: 0px;
}

.bottom-footer ul li {
    display: inline-block;
}

.bottom-footer ul li a {
    line-height: 28px;
    color: #333;
    /*	color: rgba(87,102,126,0.8);*/
    margin: auto 15px;
    font-family: 'Calibre Regular',Arial,sans-serif !important;
}

.bottom-footer ul li a:hover {
    color: #3152dc;
    text-decoration: none;
}

.subscription {
    background: #f7e05f;
    height: 100vh;
    padding-top: 100px;
}


.subscription input {
    height: 60px;
    margin-bottom: 50px;
    padding: 23px 30px 25px;
    border: 0px #000;
    background-color: #fff;
    color: #1a27c9;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    border-radius: 0px;
}

.subscription input::placeholder {
    font-size: 20px;
}

.subscription button {
    background: #0D0E0E;
    border: #0D0E0E;
    border-radius: 0px;
    color: #fff;
    transition: 0.5s;
}

.subscription button:hover {
    opacity: 0.9;
    border: #0D0E0E;
    border-radius: 0px;
    color: #fff;
}

.subscription .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #0D0E0E;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.0);
}




@media (min-width:320px) and (max-width: 800px) {
    .main-menu.stellarnav {
        background: transparent;
        padding: 20px 0;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .banner {
        height: auto;
    }

    .banner h1 {
        font-size: 2.2rem;
        line-height: 1.16;
        font-weight: 400;
    }

    .subscription {
        background: #f7e05f;
        height: auto;
        padding-top: 100px;
    }

    .latest {
        height: auto;
    }

}

@media (min-width:1200px) {
    .container {
        max-width:1200px !important;
    }
}
